# API - Render
NODE_ENV=production
DATABASE_URL=postgresql://USER:PASSWORD@HOST/DB?sslmode=require
JWT_ACCESS_SECRET=troque-por-um-secret-forte-com-32-ou-mais-caracteres
JWT_REFRESH_SECRET=troque-por-outro-secret-forte-com-32-ou-mais-caracteres
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
WEB_URL=https://seu-projeto.vercel.app
LOCAL_STORAGE_ROOT=./storage
FILE_STORAGE_DRIVER=s3
S3_ENDPOINT=https://s3.seu-provedor.com
S3_REGION=us-east-1
S3_BUCKET=lvm-uploads
S3_ACCESS_KEY_ID=troque
S3_SECRET_ACCESS_KEY=troque
S3_FORCE_PATH_STYLE=true
SMTP_HOST=smtp.resend.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=resend
SMTP_PASSWORD=re_xxxxxxxxxxxxxxxxx
SMTP_FROM=LVM Weightlifting <no-reply@seudominio.com>
SMTP_CONNECTION_TIMEOUT_MS=10000
SMTP_GREETING_TIMEOUT_MS=10000
SMTP_SOCKET_TIMEOUT_MS=15000

# Web - Vercel
NEXT_PUBLIC_API_URL=https://sua-api.onrender.com
NEXT_PUBLIC_APP_URL=https://seu-projeto.vercel.app
API_PROXY_URL=https://sua-api.onrender.com
